<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{css/Application.css?version=51}" rel="stylesheet">
</head>
<body>
    <section>
        <form action="#" th:action="@{/quizzes/form/submit}" method="POST" th:object="${quiz}">
            <label for="name">QuizName</label>
            <input type="text" th:field="*{name}" id="name">
            <label for="difficulty">Difficulty</label>
            <select id="difficulty" name="difficulty" th:field="*{difficulty}">
                <option value="EASY">easy</option>
                <option value="MEDIUM">medium</option>
                <option value="HARD">hard</option>
            </select>
            <input type="submit">
        </form>
    </section>

</body>
</html>